.upload-box {
    border: 2px dashed #ccc;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #fafafa;
    cursor: pointer;
}
.upload-box:hover {
    background-color: #f0f0f0;
}
